<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-md">
    <div>
      <h1>Munícipes</h1>
    </div>
  </div>
  <div class="col-md">
    <%= link_to 'Cadastrar munícipe', new_municipe_path, class: 'btn btn-primary float-md-end' %>
  </div>
</div>

<hr>

<div id="search-form" class="mt-md-3 mt-sm-5">
  <%= form_tag municipes_path, method: :get, data: { controller: 'search-form' } do %>
    <div class="row">
      <div class="col-md-3">
        <%= search_field_tag :query, params[:query], class: 'form-control', placeholder: 'Buscar munícipes...', data: { action: 'search->search-form#submit' } %>
      </div>
      <div class="col-md-3">
        <div class="form-check form-check-inline">
          <%= radio_button_tag :ativos, 'ativos', radio_ativos_checked?('ativos', params[:ativos]), class: 'form-check-input', id: 'ativos_ativos', data: { action: 'change->search-form#submit' } %>
          <%= label_tag :ativos, 'ativos', class: 'form-check-label', for: 'ativos_ativos' %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag :ativos, 'inativos', radio_ativos_checked?('inativos', params[:ativos]), class: 'form-check-input', id: 'ativos_inativos', data: { action: 'change->search-form#submit' } %>
          <%= label_tag :ativos, 'inativos', class: 'form-check-label', for: 'ativos_inativos' %>
        </div>
        <div class="form-check form-check-inline">
          <%= radio_button_tag :ativos, 'todos', radio_ativos_checked?('todos', params[:ativos]), class: 'form-check-input', id: 'ativos_todos', data: { action: 'change->search-form#submit' } %>
          <%= label_tag :ativos, 'todos', class: 'form-check-label', for: 'ativos_todos' %>
        </div>
      </div>
      <div class="col-md">
        <%= button_tag 'Buscar', type: :submit, class: 'btn btn-primary float-md-start' %>
      </div>
    </div>
  <% end %>
</div>

<div id="municipes" class="mt-md-3 mt-sm-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Status</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">CNS</th>
        <th scope="col">Email</th>
        <th scope="col">Nascimento</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @municipes.each do |municipe| %>
        <tr>
          <th scope="row"><%= image_tag municipe.foto.variant(resize_to_limit: [50, 50]) %></th>
          <td><%= municipe_ativo(municipe) %></td>
          <td><%= municipe.nome %></td>
          <td><%= municipe.formatted_cpf %></td>
          <td><%= municipe.formatted_cns %></td>
          <td><%= municipe.email %></td>
          <td><%= data_nascimento(municipe) %></td>
          <td><%= municipe.telefone %></td>
          <td><%= municipe.formatted_endereco %></td>
          <td><%= link_to 'Editar', edit_municipe_path(municipe) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
