Olá <%= @municipe.nome %>.
<br>
<p>Suas informações foram atualizadas na plataforma Munícipe CRUD.</p>
<p>As alterações feitas foram:</p>
<% @changes.each do |key, value| %>
  <p><%= key %>: <%= value.first %> -> <%= value.last %></p>
<% end %>
<br>
<p>Essas são as suas informações cadastradas na plataforma:</p>
<% @attributes.each do |attribute, value| %>
  <p><%= attribute %>: <%= value %></p>
<% end %>
